.gradle/
out/

# IDEA Project Files
*.iml
*.ipr
*.iws
*.bak
*.bak2

# Netbeans files
build.xml
nbproject
manifest.mf
nblibraries.properties
junit
junit_4
junit-4.10.jar
CopyLibs
absolutelayout
dist

.settings/
.DS_Store
/nbproject/private/
/build/
/dist/
/lib/
/bin/

